/* @import url('https://mui.kernelsu.org/internal/insets.css'); */

:root {
	/* --md-sys-color-primary: #6d6b6b; */
	--md-sys-color-primary: #006a6a;
	--md-sys-color-outline: #6d6b6b;
	--md-sys-color-on-primary: #000000c8;
	--md-sys-color-surface-container-highest: #000000;

	--md-outlined-text-field-input-text-color: #ffffff;
	--md-outlined-text-field-focus-input-text-color: #ffffff;

	--bg: #000000;
	--fg: #ffffff;
	--label-pad: 12px;
	--item-gap: 12px;
}
body {
	padding-top: var(--window-inset-top, 0px);
	padding-bottom: var(--window-inset-bottom, 0px);
	margin: 0;
	display: flex;
	width: 100%;
	flex-direction: column;
	background-color: var(--bg);
	color: var(--fg);
	font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Arial, sans-serif;
}
.toggle-option {
	display: flex;
	align-items: center;
	font-size: 1.1em;
	padding: 0 var(--label-pad);
	margin-bottom: var(--item-gap);
	pointer-events: none;
}
.title {
	display: flex;
	align-items: center;
	padding: 0 var(--label-pad);
	margin: 6px 0px;
}
.item-version {
	font-size: 22px;
	padding: 0px 10px;
}
md-switch {
	margin-left: auto;
	pointer-events: initial;
}
.preload-hidden {
	display: none;
}

/* Custom uname spoofing */
.custom-uname-content {
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding: 0 var(--label-pad);
	margin-bottom: var(--item-gap);
}
.custom-uname-switch-item {
	display: flex;
	font-size: 1.3em;
}
.custom-uname-buttons {
	display: flex;
	gap: 8px;
}
.custom-uname-buttons md-outlined-button,
.custom-uname-buttons md-filled-button {
	flex: 1;
}
